Package: com.bestware.helloit
Name: Helloit
Version: 0.0.4
Architecture: iphoneos-arm
Description: Just a widget. Pretty useful isn't it? Depends on XenHTML and XenInfo.
Maintainer: Bestware <kylethelegendmc@gmail.com>
Depends: firmware (>= 10.0), com.matchstic.xenhtml, com.junesiphone.xeninfo
Author: Bestware <kylethelegendmc@gmail.com>
Section: Widgets
Tag: purpose::widgets
