Package: com.klutchkyle.steamyshower
Name: SteamyShower
Version: 1.1.2
Architecture: iphoneos-arm
Description: Dynamic wallpaper blur widget for Xen Html
Maintainer: KlutchKyle <kylethelegendmc@gmail.com
Depends: firmware (>= 10.0), com.matchstic.xenhtml, com.klutchkyle.repoicons
Author: KlutchKyle <kylethelegendmc@gmail.com>
Section: Widgets
Tag: purpose::widgets
Icon: file:///Library/KlutchKyleRepoIcons/ssicon.png
