Package: com.klutchkyle.steamyshower
Name: SteamyShower
Version: 1.0
Architecture: iphoneos-arm
Description: Dynamic wallpaper blur widget for XenHTML
Maintainer: KlutchKyle <kylethelegendmc@gmail.com
Depends: firmware (>= 10.0), com.matchstic.xenhtml
Author: KlutchKyle <kylethelegendmc@gmail.com>
Section: Widgets
Tag: purpose::widgets
