body{
  margin:0;
  padding:0;
  -webkit-animation: fadein 0.2s linear 1 normal; 
  -webkit-animation-fill-mode: forwards;
}

.container{
  position: absolute;
  width: 100%;
  bottom: 15px;
}

.container div{
  position: absolute;
}

#bg{
  display: block;
  vertical-align: middle;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,0.55);
  -webkit-backdrop-filter:blur(0px);
  border-radius: 0px;
}

#artwork{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  -webkit-transition: 1s;
  border-radius: 0px
}

#title{
  color: white;
  position: absolute;
  text-align: left;
  top: 8px;
  left: 115px;
  width: 66%;
  height: 30px;
  font-weight: 400;
  font-size: 23px;
  white-space: nowrap;
  overflow: scroll;
 font-family: '-apple-system-font';
}

#artist{
  color: white;
  position: absolute;
  text-align: left;
  top: 35px;
  left: 115px;
  width: 66%;
  height: 25px;
  font-weight: 100;
  font-size: 18px;
  white-space: nowrap;
  overflow: scroll;
  font-family: '-apple-system-font';
}

#playPause{
  position: absolute;
  top: 62px;
  left: 59%;
  width: 31px;
  height: 31px;
}

#next{
  position: absolute;
  top: 62px;
  left: 79%;
  width: 28px;
  height: 28px;
}

#prev{
  position: absolute;
  top: 62px;
  left: 39%;
  width: 28px;
  height: 28px;
}

@font-face{
      font-family: "win";
      font-weight: 200;
      src: url("/var/mobile/Library/LockHTML/Altair/font/regular.ttf");
}

@-webkit-keyframes fadein {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
